$dark: #181c27
$gold: #e2a83b
$grey: #ced3e6
$bronze: #bca87b
$beige-gold: #ac8a49    
$white: #ffffff
$black: #000000
// Main styles
body
    font-family: 'Titillium Web', sans-serif
    font-size: 16px
    background-color: $dark
    
.wrapper
    width: 100%
    margin: 0
    padding: 0
    overflow: hidden

// First block Styles
.my-info-block
    background-color: $dark
    color: $white
    width: 100%
    display: flex
    justify-content: center
    padding: 15% 0 10% 0

.photo-name
    display: block
    text-align: center
    margin: 0 20%
    img
        width: 150px
        border-radius: 50%
    h1
        font-weight: 600
        color: $gold
        margin: 0
    p
        font-size: 24px

.hidden-replica
    color: $grey
    opacity: 0.8
    font-size: 16px
    font-style: italic
    display: block
// Media breakpoints for the photo-name block
@media (max-width: 768px)
    .my-info-block
        padding: 25% 0

@media (max-width: 425px)
    .my-info-block
        padding: 40% 0
    .photo-name
        h1
            font-size: 2rem
        p
            font-size: 1.125rem
        img
            width: 100px
    .hidden-replica
        font-size: 0.875rem
@media (max-width: 340px)
    .my-info-block
        padding: 50% 0
    .photo-name 
        h1
            font-size: 1.625rem
        p
            font-size: 1rem
    .hidden-replica
        font-size: 0.75rem
// Contact icons of the first block
.contacts-block
    width: 100%
    background-color: $dark
    padding: 0 0 5% 0
    text-align: center

.contact-icon
    width: auto
    margin: 0 1rem
    &:hover
        text-decoration: none
    img
        width: 20px
// Media breakpoints for the first block contacts
@media (max-width: 425px)
    .contacts-block
        padding: 0 0 5% 0
        text-align: center
// End of the first block styles


// Second block styles
.about-me-block
    width: 100%
    background-color: $dark
    padding: 10% 0 15% 0
    display: inline-flex
.about-me-photo
    width: 50%
    text-align: center
    img
        width: 300px
        border-radius: 50%
.about-me-text
    width: 50%
    margin: 0
    color: $white
    line-height: 200%
    h3
        color: $gold
        font-size: 2.5rem
        text-align: left
        margin: 0
    p
        text-align: left
        margin: 10% 0
.about-me-achievements
    display: inline-flex
    width: auto
    img
        border-radius: 0
        width: 50px 
.achieve-holder
    min-width: 150px
    margin: 0 5%
    display: flex
    flex-direction: column
    align-items: center
    span
        line-height: 100%
        margin-top: 1rem 
// Media breakpoints for About me section

@media (max-width: 1100px)
    .achieve-holder
        margin: 0

@media (max-width: 900px)
    .about-me-text p
        font-size: 0.875rem
    .about-me-achievements img
        width: 40px
    .achieve-holder
        min-width: 100px

@media (max-width: 800px)
    .about-me-block
        display: flex
        flex-direction: column
    .about-me-photo
        width: 100%
        margin: 15% 0
        text-align: center
    .about-me-text
        width: 100%
        text-align: center
        h3
            margin-top: 5%
            text-align: center
        p
            text-align: center
@media (max-width: 425px)
    .about-me-photo
        margin: 25% 0
    .about-me-text p
        text-align: left
        font-size: 0.875rem
        padding: 0 5%
        margin: 20% 0
        line-height: 140%
        -webkit-text-align: left
        -webkit-font-size: 0.875rem
        -webkit-padding: 0 5%
        -webkit-margin: 20% 0
        -webkit-line-height: 140%
// End of the Second block styles

// Star of the Third block styles SKILLS
// General 
.skills-block
    width: 100%
    display: inline-flex   
    background-color: $dark
    margin: 0
    padding: 20% 0
    color: $white
.skill-block-header
    height: 40%
    width: 20%
    transform: rotate(270deg)
    text-align: center
    margin: 0
    padding: 0
    color: $gold
// General
// Additional skills
.additional-skills-block
    width: 60%
    display: inline-flex
.one-half-adds
    width: 30%
    display: inline-flex
.half-p
    width: 30%
    display: flex
    flex-direction: column
    justify-content: space-between
    margin: 0
    p
        margin: 0
.half-img
    width: 30%
    display: flex
    flex-direction: column
    justify-content: space-between
    margin: 0
    img
        width: 30px
.loader
    font-size: 10px
    text-indent: -9999em
    margin: 0
    width: 30px
    height: 30px
    border-radius: 50%
    background: $beige-gold
    background: -moz-linear-gradient(left, $beige-gold 10%, rgba(21,20,20, 0) 42%)
    background: -webkit-linear-gradient(left, $beige-gold 10%, rgba(21,20,20, 0) 42%)
    background: -o-linear-gradient(left, $beige-gold 10%, rgba(21,20,20, 0) 42%)
    background: -ms-linear-gradient(left, $beige-gold 10%, rgba(21,20,20, 0) 42%)
    background: linear-gradient(to right, $beige-gold 10%, rgba(21,20,20, 0) 42%)
    position: relative
    -webkit-animation: load3 2s infinite linear
    animation: load3 2s infinite linear
    -webkit-transform: translateZ(0)
    -ms-transform: translateZ(0)
    transform: translateZ(0)
.loader:before
    width: 50%
    height: 50%
    background: $beige-gold
    border-radius: 100% 0 0 0
    position: absolute
    top: 0
    left: 0
    content: ''
.loader:after 
    background:$dark
    width: 75%
    height: 75%
    border-radius: 50%
    content: ''
    margin: auto
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
@-webkit-keyframes load3 
    0% 
        -webkit-transform: rotate(0deg)
        transform: rotate(0deg)
    100% 
        -webkit-transform: rotate(360deg)
        transform: rotate(360deg)
  

@keyframes load3 
    0% 
        -webkit-transform: rotate(0deg)
        transform: rotate(0deg)
  
    100% 
        -webkit-transform: rotate(360deg)
        transform: rotate(360deg)
// Additional skills
// Main skills 
.main-skills-block
    display: inline-flex
    width: 40%
.skill-name-holder
    width:30%
    p
        font:
            weight: bold
            size: 1.5rem
        margin: 10px  
.skill-line-holder
    width:70%
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 10px 0    
.empty-skill-line
    width: 200px
    height: 15px
    background-color: $grey
    margin: 10px 0
    border-radius: 10px
.fill-skill-line
    width: 0
    background-color: $gold
    height: 15px
    border-radius: 10px
    margin: 0
    padding: 0
    transition: all 3s ease 1s
// Main skills
// Breakpoints for Skills block 
@media (max-width: 1200px)
    .half-p
        width: 40%
    .half-img
        width: 30%
@media (max-width: 1000px)
    .skill-name-holder p
        font-size: 1.25rem    
@media (max-width: 850px)
    .skills-block
        display: flex
        flex-direction: column
    .additional-skills-block
        width: 100%
        min-height: 150px
    .skill-block-header
        width: 20%
        padding-top: 5%
    .main-skills-block
        width: 100%
        margin: 10% 0
    .one-half-adds
        width:40%
    .skill-block-header
        height: 20%
    .skill-name-holder
        width:50%
        padding: 0 0 0 20%
    .skill-line-holder
        width:50%    
@media (max-width: 500px)
    .additional-skills-block
        margin: 15% 0
    .skill-block-header
        padding: 10%
    .skill-name-holder
        padding: 0 0 0 5%
        width: 40%
    .skill-line-holder
        width: 60%
    .main-skills-block
        margin: 20% 0
    .one-half-adds
        width:40%
    .skill-block-header
        height: 20%
    .half-img
        align-items: flex-end
        img
            width: 20px
@media (max-width: 350px)
    .empty-skill-line
        width: 150px
    .skill-name-holder
        width: 40%
    .skill-line-holder
        width: 60%
    .half-p p
        font-size: 0.875rem
// End of the third block Skills 

// Footer
.footer
    width: 100%
    border-opacity: 0.5
    color: $bronze
    display: flex
    flex-direction: column
    padding: 0
.footer-contacts
    text-align: center
    padding: 0 0 5% 0
.footer-contact-holder 
    width: auto
    text-align: center
    margin: 1rem 0
    p
        margin: 0
        padding: 0
    h5
        margin: 0 
        padding: 0
        